<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VPBS13.My.MySettings.VPBSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\VPBS.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.VPBSTestConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\VPBSTest.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.BOOKSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\Books.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.VIDEOConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\VIDEO.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.LifeLineConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\LifeLine.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.VpbsArchiveConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\VpbsArchive.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.VpbsArchiveConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:VPBS\VpbsArchive.MDB"
            providerName="System.Data.OleDb" />
        <add name="VPBS13.My.MySettings.VPBSConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VPBS\VPBS.MDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  
</configuration>